
	html { font-size: 14px; font-family: 'Karla', sans-serif; box-sizing:border-box; }
	*, *:before, *:after { box-sizing:inherit; }
	
	body { margin:20px; }
	
	h1 { margin:30px 0; color:#ffa9aa; text-align:center; }
	h2 { color:#777; text-transform:uppercase; font-size:18px; float:left; }
				
	.k-button-icon,
	.k-split-button-arrow { padding:0; }

    .k-button.k-button-icon .k-icon, 
	.k-grid-filter .k-icon, 
	.k-header .k-icon { padding: 0 0.4em; }


    a.k-grid-filter:focus, input[type="checkbox"]{ outline:0; }
	
	main { max-width:1100px;  margin:0 auto; }
	
	
	/*kendo grid*/
	
	#bank { margin-bottom:40px; }
	
	.k-grid { clear:both; }
	.k-grid td:first-child img { display:block; margin:0 auto; }
	.k-grid td[data-field="tier"] +td img { max-width:150px; display:block; margin:0 auto; }
	
	.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-asc-sm, 
	.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-desc-sm { margin-left:2px; }
	
	.k-grid .k-grid-header-wrap, 
	.k-grid table { box-sizing:border-box; }
	
	.k-button.k-button-icon .k-icon, 
	.k-grid-filter .k-icon, 
	.k-header .k-icon { padding:0; }
	
	
	.k-grid .k-button { font-size:0; cursor:pointer; position:relative; appearance:none; -webkit-appearance:none; background:#ffa9aa; border:none; color:#fff; border-radius:15px; width:40px; height:40px; display:block; margin:0 auto; transition: all .2s ease; }
	.k-grid .k-button:hover { background:#ff9193; }
	.k-grid .k-button:focus { outline:none; }
	.k-grid .k-button:after { position:absolute; top:0; left:0; opacity:1; display:block; font-size:18px; font-family:"Font Awesome 5 Free"; font-weight:900; line-height:42px; }
	#villagers .k-button:after { content:"\f08d"; }
	#bank .k-button:after { content:"\f00d"; line-height:40px; }
	
	/*transitions*/
	.k-grid .k-grid-filter { transition: background-color .2s ease; }
	.k-grid tr { transition: background-color .2s ease; }
	.btn-condense { transition: background-color .2s ease; }
	
	.empty { padding:10px; text-align:center; width:100%; color:#999; font-style:italic; }
	
	.btn-condense { float:right; text-decoration:none; display:block; background:#3498db; color:#fff; padding:5px 10px; border-radius:10px; margin-top:25px; 
		border-bottom-left-radius:0; border-bottom-right-radius:0; }
	.btn-condense:hover { background:#2980b9; }
	
	.grid-condensed .k-header { display:none; }
	.grid-condensed tbody { display:flex; }
	.grid-condensed td { display:none; }
	.grid-condensed td:first-child { display:block; }
	.grid-condensed tr { }
	.grid-condensed tr.k-alt { background:#fff; }
	.grid-condensed col { display:none; }
	.grid-condensed img { width:100%; }

	.grid-fixed { position:fixed; top:-1px; z-index:2; max-width:1100px; }
	.grid-fixed + h2 { margin-top:200px; clear:both; }

	.btn-night { position:absolute; top:10px; left:10px; display:block; background:#ecf0f1; text-decoration:none; color:#2c3e50; border:2px solid #bdc3c7; border-radius:15px; width:40px; height:40px; transition: all .2s ease; text-align:center; line-height:36px; }
	.btn-night:after { font-family:"Font Awesome 5 Free"; font-weight:900; content:"\f186"; font-size:18px; }
	
	
	body.night  { background:#111f2d; }
	.night h1 { color:#16a085; }
	
	.night .k-grid { border-color:#2c3e50; }
	.night .k-header { background:#2c3e50; color:#ccc; }
	.night .k-grid-content { background:#34495e; color:#ccc; }
	.night .k-grid-header { border-bottom:1px solid #111f2d; }
	
	.night .k-grid tbody tr.k-state-hover, 
	.night .k-grid tbody tr:hover { color:#ccc; background-color:#2c3e50; }
	
	.night 	.grid-condensed tr.k-alt { background:#34495e; }
	
	.night .btn-night { background:#34495e; color:#16a085; border:2px solid #34495e; }
	.night .btn-night:after { content:"\f185"; font-size:22px; }
	
	.night .k-grid .k-grid-filter { color:#2980b9; }
	.night .k-grid-header .k-grid-filter:hover { background:#111f2d; }
		
	.night .btn-condense { background:#2980b9; }
	.night .btn-condense:hover { background:#1e70a7; }
	
	.night .k-grid .k-button { background:#da6c99; }
	.night .k-grid .k-button:hover { background:#c55684; }
	
	
	
	
	/*##2c3e50*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* todo list 
	
	- grid headers (pinned villagers, all villagrs) 
	- grid condensing optionss
	- pin/unpin buttons
	- male/female color coding
	- cookies
	- reordering on pinned grid
	- sorting on pinned grid
	
	*/