
	html { font-size: 14px; font-family: 'Karla', sans-serif; box-sizing:border-box; }
	*, *:before, *:after { box-sizing:inherit; }
	
	body { margin:20px; }
	
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
	
	h1 { margin:30px 0; color:#ffa9aa; }
	
	.k-button-icon,
	.k-split-button-arrow { padding:0; }

    .k-button.k-button-icon .k-icon, 
	.k-grid-filter .k-icon, 
	.k-header .k-icon { padding: 0 0.4em; }

    a.k-grid-filter:focus, input[type="checkbox"]{ outline:0; }
	
	main { max-width:1000px;  margin:0 auto; }
	
	#villagers td:first-child img { display:block; margin:0 auto; }
	#villagers td:last-child img { max-width:150px; display:block; margin:0 auto; }
	
	
	/*kendo grid*/
	
	.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-asc-sm, 
	.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-desc-sm { margin-left:2px; }
	
	.k-grid .k-grid-header-wrap, 
	.k-grid table { box-sizing:border-box; }
	
	.k-button.k-button-icon .k-icon, 
	.k-grid-filter .k-icon, 
	.k-header .k-icon { padding:0; }